.edit {
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-size: 1em;
    justify-content: space-around;
}

.boutton {
    margin: 0 auto;
}

.value {
    width: 100%;
    border-radius: 1em;
}
