.edit {
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-size: 1em;
    justify-content: space-around;
}

.boutton {
    margin: 0 auto;
    padding: 0.5em 0;
}

.value {
    width: 100%;
    border-radius: 1em;
}

.Input_edit {
    width: 50%;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid black;
    margin: 0 1em;
    text-align: end;
    word-wrap: break-word;
    word-break: break-all;
    height: 1em;
}

#submit {
    padding: 0.5em 1em;
    background-color: #6b7ad2;
    border-radius: 1em;
    border: solid 0.1em #374599;
    color: white;
}

.title_edit {
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5em;
}