@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
	scroll-behavior: smooth;
}

header {
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	display: flex;
	box-shadow: 0 0.5rem 0.5rem rgb(92, 107, 192, 100%);
	padding: 1rem 0;
	background-color: #ffffff;
}

#accueil {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#accueil a {
	font-size: x-large;
	padding: 0 1rem;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

#logo_header {
	width: 45px;
}

#Pages {
	align-items: center;
	display: flex;
	padding: 0 1rem;
	font-weight: 500;
}

#Pages span {
	margin: 0 0.5rem;
}

#Pages a {
	color: black;
	text-decoration: none;
	padding: 0.2rem 1rem;
	border: solid 0.1rem transparent;
}

#Pages a:hover {
	color: #6b7ad2;
	background-color: rgb(132, 147, 232, 10%);
	border-radius: 2rem;
	padding: 0.2rem 1rem;
	border: solid 0.1rem #374599;
	text-align: center;
}

.lien_header {
	transition: all 0.5s ease-in-out;
}

#Pages svg {
	border: none;
}

#slide_down {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#slide_down div:hover {
	display: flex;
}

#slide_down div {
	align-items: center;
	display: none;
	flex-direction: column;
	padding: 0.2rem;
}

#slide_down div a {
	margin: 0.2rem;
}

#slide_down div a:hover {
	margin: 0.2rem;
}

.trait {
	padding: 0.2rem 20rem;

	border-radius: 3rem;
	justify-content: center;
	display: flex;
	margin: 7rem 0;
}

#SchoolPea {
	background-color: transparent;
	width: 45px;
}

#INS {
	position: fixed;
	box-shadow: -1rem 1rem 1px #374599;
	border-radius: 2rem;

	width: 45%;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px;

	border-radius: 2rem;
	padding: 0.2rem 1rem;
	border: solid 0.1rem #374599;

	float: left;

	width: 50%;

	display: block;
}

#MDP {
	float: right;
	display: block;
	flex-direction: column;

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: -1rem 1rem 1px #374599;
	border-radius: 2rem;
	display: inline-block;
	width: 25%;

	box-sizing: border-box;
	padding: 10px;

	border-radius: 2rem;
	padding: 0.2rem 1rem;
	border: solid 0.1rem #374599;

	margin-bottom: 150px;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	gap: 60px;
}

form {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	width: 100%;
	padding: 5px;
}

#SUPP {
	position: fixed;
	display: inline-block;
	width: 40%;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;

	box-sizing: border-box;
	padding: 10px;

	box-shadow: -1rem 1rem 1px #374599;
	border-radius: 2rem;

	box-sizing: border-box;
	padding: 10px;

	border-radius: 2rem;
	padding: 0.2rem 1rem;
	border: solid 0.1rem #374599;
}

#EXCL {
	width: 100px;
	height: auto;
}

#SUPP button {
	margin-top: auto;
}

#SCH,
#SCH1 {
	width: 100px;
	height: auto;
}

#EKI {
	position: absolute;
	right: 10;
}

#INFO1 {
	text-align: center;
}
