@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

header {
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 0.5em 0.5em rgb(92, 107, 192, 100%);
    padding: 0.7em 0;
    background-color: #ffffff;
}

header.admin {
    box-shadow: 0 0.5em 0.5em rgb(55, 156, 68);
}


#accueil {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#accueil a {
    font-size: x-large;
    padding: 0 1em;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

#logo_header {
    width: 45px;
}