@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    scroll-behavior: smooth;
}

header {
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 0.5rem 0.5rem rgb(92, 107, 192, 100%);
    padding: 1rem 0;
    background-color: #ffffff;
}

#accueil {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#accueil a {
    font-size: x-large;
    padding: 0 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

#logo_header {
    width: 45px;
}

#Pages {
    align-items: center;
    display: flex;
    padding: 0 1rem;
    font-weight: 500;
}

#Pages span {
    margin: 0 0.5rem;
}

#Pages a {
    color: black;
    text-decoration: none;
    padding: 0.2rem 1rem;
    border: solid 0.1rem transparent;
}

#Pages a:hover {
    color: #6b7ad2;
    background-color: rgb(132, 147, 232, 10%);
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    border: solid 0.1rem #374599;
    text-align: center;
}

.lien_header {
    transition: all 0.5s ease-in-out;
}

#Pages svg {
    border: none;
}

.trait {
    padding: 0.2rem 20rem;
    background-color: #6b7ad2;
    border-radius: 3rem;
    justify-content: center;
    margin: 1rem 0;
}

#SchoolPea {
    background-color: transparent;
    margin-bottom: 10rem;
    margin-top: 0rem;
}

body {
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        180deg,
        rgba(92, 107, 192, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

body div {
    justify-content: center;
}

#classement {
    border-radius: 3rem;
    text-align: center;
    box-shadow: -1rem 1rem 1px #5c6bc0;
    background-color: white;
    margin-bottom: 7rem;
}

table {
    margin-bottom: 5rem;
    border: none;
    border-spacing: 0;
}

table td {
    border-bottom: 0.3rem solid #6b7ad2;
    border-right: 0.3rem solid #6b7ad2;
    padding: 0.1rem;
}

thead th {
    padding: 0 1rem;
    border-right: solid 0.3rem white;
    background-color: #6b7ad2;
    color: white;
}

#slide_down {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#slide_down div:hover {
    display: flex;
}

#slide_down div {
    align-items: center;
    display: none;
    flex-direction: column;
    padding: 0.2rem;
}

#slide_down div a {
    margin: 0.2rem;
}

#slide_down div a:hover {
    margin: 0.2rem;
}
