@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Montserrat";
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .error {
    color: red;
    margin-bottom: 10px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    background-color: #5c6bc0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.chat-container {
    width: 500px;
    margin: 10em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.messages {
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.message-content p {
    margin: 0;
}

.message-content span {
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form textarea {
    width: 80%;
    height: 50px;
    resize: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
}

form button {
    width: 15%;
    height: 50px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .login-container,
body.dark-mode .chat-container {
    background-color: #1e1e1e;
    border-color: #444;
}

body.dark-mode .login-container input,
body.dark-mode form textarea {
    background-color: #333;
    border-color: #555;
    color: #e0e0e0;
}

body.dark-mode .message-content {
    background-color: #333;
}

body.dark-mode form button,
body.dark-mode .login-container button {
    background-color: #5c6bc0;
}

body.dark-mode .login-container .error {
    color: #ff6b6b;
}

body.dark-mode span {
    color: white;
}