@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    /* Dark background color */
    color: #fff;
    /* Light text color */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: #333;
    /* Dark container background color */
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 30em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h2,
p {
    color: #fff;
    /* Light text color */
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #555;
    /* Darker input background color */
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    color: #fff;
    /* Light text color */
}

#card-element {
    padding: 10px;
    border: 1px solid #777;
    /* Slightly lighter border color */
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

#card-errors {
    color: red;
    margin-top: 10px;
}

button {
    background-color: #512da8;
    /* Purple button color */
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #121212;
    /* Darker background color */
    color: #e0e0e0;
    /* Light text color */
}

body.dark-mode .container {
    background-color: #1f1f1f;
    /* Darker container background color */
}

body.dark-mode h2,
body.dark-mode p,
body.dark-mode input,
body.dark-mode #card-element {
    color: #e0e0e0;
    /* Light text color */
    background-color: #333;
    /* Darker input background color */
    border-color: #555;
    /* Darker border color */
}

body.dark-mode button {
    background-color: #673ab7;
    /* Darker purple button color */
}