@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

/* Styles communs pour les deux modes */
.container {
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 30em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

h2,
p {
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#card-element {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#card-errors {
    margin-top: 10px;
}

button {
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Mode sombre */
body[data-theme="dark"] {
    background-color: #1a1a1a;
    color: #fff;
}

body[data-theme="dark"] .container {
    background-color: #333;
}

body[data-theme="dark"] input {
    background-color: #555;
    color: #fff;
}

body[data-theme="dark"] #card-element {
    color: #e0e0e0;
    background-color: #333;
    border-color: #777;
}

body[data-theme="dark"] button {
    background-color: #512da8;
    color: #fff;
}

/* Mode clair */
body[data-theme="light"] {
    background-color: #f0f0f0;
    color: #333;
}

body[data-theme="light"] .container {
    background-color: #fff;
}

body[data-theme="light"] input {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

body[data-theme="light"] #card-element {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

body[data-theme="light"] button {
    background-color: #007bff;
    color: #fff;
}