<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SchoolPea/public

    # Gestion des erreurs 404
    ErrorDocument 404 /SchoolPea/public/error404.php
    ErrorDocument 403 /SchoolPea/public/error403.php

    # Rediriger les requêtes vers le répertoire public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Ne pas rediriger les requêtes existantes vers des fichiers ou des répertoires réels
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
