@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

.trait {
    padding: 0.2em 20em;
    border-radius: 3em;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 10em;
    margin-top: 0em;
}

/*--------------------------Header------------------------*/
body {
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(146, 189, 249, 1) 100%);
}

#div1 {
    display: flex;
    flex-direction: row;
    width: 50%;
}

/*Bloc 1 info Gen*/

#Info_gen {
    flex-direction: column;
    display: flex;
    margin: 0 1em 0em 0em;
    width: 75%;
    padding: 2em;
    border-radius: 3em;
    box-shadow: -1em 1em 1px #374699c4;
    background: rgb(255, 255, 255);
}

#Titre_Info_gen {
    display: flex;
    flex-direction: row;
}

#Modif_Photo {
    align-items: center;
    display: flex;
}

#PP {
    width: 7em;
    height: 7em;
    object-fit: cover;
    border-radius: 50%;
    margin: 1em;
    border: solid 0.2em black;
}

#But_Photo {
    margin-left: 1em;
    background-color: lightgray;
    border-radius: 0.5em;
    border: 0.1em black solid;
    height: 2em;
    padding: 0 1em;
    font-weight: 700;
}

.Text_Nom_Prenom_Email {
    margin: 0.3em 1em;
    font-weight: 600;
}

.Input_Nom_Prenom_Email {
    border-radius: 0.7em;
    border: 0.1em black solid;
    margin: 0.5em 0;
    height: 2em;
    padding: 0 1em;
    background-color: lightgray;
    font-weight: 400;
}

.Input_Nom_Prenom_Email:focus {
    background-color: white;
    font-weight: 600;
}

#Modif_Nom_Prenom {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

#Nom {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 50%;
}

#Prenom {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#Email {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

#Sauvegarde_modif {
    width: 60%;
    height: 5em;
    border-radius: 1em;
    background-color: rgba(92, 107, 192, 0.75);
    color: white;
    border-color: transparent;
    font-size: 1em;
    font-weight: 700;
}

#Sauvegarde_modif:hover {
    background-color: rgba(92, 107, 192, 1);
    border: black 0.2em solid;
    transition: all 0.3s ease-in-out;
}

/*Bloc 2 Mot de passe*/

#Mdp_modif {
    margin: 0em 0 0 1em;
    padding: 2em;
    border-radius: 3em;
    width: 25%;
    box-shadow: -1em 1em 1px #374699c4;
    background: rgb(255, 255, 255);
}

#Titre_Mdp_modif {
    text-align: center;
    font-weight: 700;
    font-size: 150%;
}

.Mdp_modif_div {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.Text_Modif_mdp {
    margin: 0.1em 0.5em;
    font-weight: 600;
}

.Input_Mdp_modif_div {
    margin: 0.5em 0;
    height: 1.7em;
    border-radius: 1em;
    border: 0.1em black solid;
    background-color: lightgray;
    padding: 0 1em;
}

.Input_Mdp_modif_div:focus {
    background-color: white;
}

#Sauvegarde_modif_mdp {
    width: 100%;
    height: 4.5em;
    border-radius: 1em;
    background-color: rgba(92, 107, 192, 0.75);
    color: white;
    border-color: transparent;
    font-size: 1em;
}

/*Bloc 3 Delete account*/

#div2 {
    margin: 5em 0em 5em 0em;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: -1em 1em 1px #374699c4;
    background: rgb(255, 255, 255);
}

#Exclamation {
    width: 45px;
    margin-top: 0.5em;
}

#Delete_Acc {
    display: flex;
    flex-direction: column;
}

#Titre_Delete_Acc {
    padding: 1em 0 0.5em 1em;
    font-size: 1.2em;
    font-weight: 700;
}

#Text_Delete_Acc {
    padding: 1em;
    font-weight: 600;
}

#But_Delete_Acc {
    background-color: rgba(255, 0, 0, 0.75);
    border-radius: 1em;
    color: white;
    border: none;
    font-size: 1em;
    margin: 1em 0 2em 0;
    padding: 1em 2em;
}