body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5em auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 40px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 2em;
}

.dashboard-item {
    background-color: #6b7bd2;
    border-radius: 2em;
    border: transparent solid 1px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    color: white;
}

.dashboard-item:hover {
    background-color: #515d9e;
}

.dashboard-item a {
    border-radius: 1em;
    text-decoration: none;
    color: white;
}
.front-office {
    background-color: red;
    border-radius: 2em;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    color: white;
}

.front-office:hover {
    background-color: #e40000;
}

.front-office a {
    border-radius: 1em;
    text-decoration: none;
    color: white;
}
