
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color-light);
	background: linear-gradient(to right, #e2e2e2, var(--bg-color-light));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	color: var(--text-color-light);
}

.container {
	background-color: var(--bg-color-light);
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.container a {
	color: var(--text-color-light);
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0 10px 0;
}

.container button {
	background-color: var(--accent-color-light);
	color: #fff;
	font-size: 12px;
	padding: 10px 45px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}

.container button.hidden {
	background-color: transparent;
	border-color: #fff;
}

.container form {
	background-color: var(--bg-color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}

.container input {
	background-color: #eee;
	border: none;
	margin: 8px 0;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 1s ease-in-out, opacity 0.05s ease-out 0.3s;
}

.sign-in {
	width: 50%;
	opacity: 1;
	z-index: 1;
}

.container.Inscription .sign-in {
	transform: translateX(100%);
	opacity: 0;
	z-index: 0;
}

.sign-up {
	width: 50%;
	opacity: 0;
	z-index: 0;
}

.container.Inscription .sign-up {
	transform: translateX(100%);
	opacity: 1;
	z-index: 1;
}

.toggle-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
	border-radius: 75px 0 0 75px;
	z-index: 2;
}

.container.Inscription .toggle-container {
	transform: translateX(-100%);
	border-radius: 0 75px 75px 0;
}

.toggle {
	background: linear-gradient(to right, var(--accent-color-dark), var(--bg-color-dark));
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: all 0.8s ease-in-out;
}

.container.Inscription .toggle {
	transform: translateX(50%);
}

.toggle-panel {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	transition: all 0.6s ease-in-out;
}

.toggle-left {
	left: 0;
	transform: translateX(200%);
}

.container.Inscription .toggle-left {
	transform: translateX(0);
}

.toggle-right {
	right: 0;
	transform: translateX(0);
}

.container.Inscription .toggle-right {
	transform: translateX(-200%);
}