@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #c9d6ff;
	background: linear-gradient(to right, #e2e2e2, #c9d6ff);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	font-family: "Montserrat";
}

.container {
	/*body -> container*/
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.container a {
	/*body -> Connexion -> mot de passe oublié*/
	color: #333;
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0 10px 0;
}

.container button {
	/*Body -> container -> button connexion/inscription (hors toggle)*/
	background-color: #512da8;
	color: #fff;
	font-size: 12px;
	padding: 10px 45px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}

.container button.hidden {
	/*Body -> container -> toggle ! (outrepasse le css de container button !)*/
	background-color: transparent;
	border-color: #fff;
}

.container form {
	/*body -> container -> connexion/ inscription -> form*/
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}

.container input {
	/*body -> container -> connexion/inscription -> form -> input*/
	background-color: #eee;
	border: none;
	margin: 8px 0;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
}

/*-----------------------------------------------  TRANSITIONS/ANIMATIONS  ------------------------------------------------------------*/
.form-container {
	/*Transition Connexion/Inscription*/
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 1s ease-in-out, opacity 0.05s ease-out 0.3s;
	/* all c'est pour tout, opacity c'est pour le texte qu'il delay sa disparition*/
}

.sign-in {
	/*Situation de base de connexion*/
	width: 50%;
	opacity: 1;
	z-index: 1;
	/* opacity 1 == visible; opacity 0 == caché*/
}

.container.Inscription .sign-in {
	/*Transition Connexion*/
	transform: translateX(100%);
	opacity: 0;
	z-index: 0;
}

.sign-up {
	/*Situation de base d'inscription*/
	width: 50%;
	opacity: 0;
	z-index: 0;
}

.container.Inscription .sign-up {
	/*Transition inscription*/
	transform: translateX(100%);
	opacity: 1;
	z-index: 1;
}

.toggle-container {
	/* body -> container -> toggle droite*/
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
	border-radius: 75px 0 0 75px;
	z-index: 2;
	/* haut gauche, haut droit, bas droit, bas gauche*/
}

.container.Inscription .toggle-container {
	/*Transition toggle Droite vers gauche*/
	transform: translateX(-100%);
	border-radius: 0 75px 75px 0;
}

.toggle {
	/*body -> container -> toggle (contient le texte et le boutton)*/
	background: linear-gradient(to right, #5c6bc0, #512da8);
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: all 0.8s ease-in-out;
}

.container.Inscription .toggle {
	/*Transition toggle*/
	transform: translateX(50%);
}

.toggle-panel {
	/*body -> container -> toggle -> toggle-panel (texte et boutton)*/
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	transition: all 0.6s ease-in-out;
}

.toggle-left {
	left: 0;
	transform: translateX(200%);
}

.container.Inscription .toggle-left {
	transform: translateX(0);
}

.toggle-right {
	right: 0;
	transform: translateX(0);
}

.container.Inscription .toggle-right {
	transform: translateX(-200%);
}